.mainselection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.title{
  margin-right: auto;
  justify-content: right;
  line-height: 3rem;
}

.buttons {
  margin-left: auto;
  justify-content: left;
}