* {
  box-sizing: border-box;
}

:root {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #222222;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-gray-100: #f4f3f1;
  --color-gray-200: #dddbd8;
  --color-gray-300: #ccc9c6;
  --color-gray-400: #aeaba7;
  --color-gray-500: #8a8784;
  --color-gray-600: #656360;
  --color-gray-700: #4b4a47;
  --color-gray-800: #31302e;
  --color-gray-900: #1f1d1b;

  --color-primary-100: #fcede1;
  --color-primary-200: #fce4cd;
  --color-primary-300: #fad7af;
  --color-primary-400: #fbc797;
  --color-primary-500: #ffb77c;
  --color-primary-600: #f9a662;
  --color-primary-700: #fb9b4d;
  --color-primary-800: #fa9333;
  --color-primary-900: #f6851b;
}

body {
  margin: 0;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer{ 
  position:absolute; 
  bottom: 0;
  width: 100%;
}
