* {
  box-sizing: border-box;
}

:root {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-gray-100);
  background-color: var(--color-gray-800);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-gray-100: #ebebeb;
  --color-gray-200: #cfcfcf;
  --color-gray-300: #c0c0c0;
  --color-gray-400: #a7a7a7;
  --color-gray-500: #757575;
  --color-gray-600: #5a5a5a;
  --color-gray-700: #3d3d3d;
  --color-gray-800: #2b2b2b;
  --color-gray-900: #141414;

  --color-primary-100: #fcede1;
  --color-primary-200: #fce4cd;
  --color-primary-300: #fad7af;
  --color-primary-400: #fbc797;
  --color-primary-500: #ffb77c;
  --color-primary-600: #f9a662;
  --color-primary-700: #fb9b4d;
  --color-primary-800: #fa9333;
  --color-primary-900: #f6851b;
}

body {
  margin: 0;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer{ 
  position:absolute; 
  bottom: 0;
  width: 100%;
}
